<nav class="navbar navbar-expand">
   <img  width="3%" height="1%"src="assets/github.png" alt="Github Logo" class="navbar-brand">
   
        <div class="navbar-nav" >
            <a class="nav-item nav-link active" routerLink="main" routerLinkActive='active'>Homepage</a>
            <a class="nav-item nav-link" routerLink="/user-search" routerLinkActive='active'>Search Github Account</a>
            <a class="nav-item nav-link" routerLink="/repository-search" routerLinkActive='active'>Search Repository</a>

        </div>
    
</nav>
